<br>
<%= form_for @comment, remote: true do |f| %>
  <div class="input-group input-group-lg">
    <%= f.text_field :message, class: 'form-control', placeholder: 'コメント' %>
    <%= f.hidden_field :commented_time, class: 'form-control' %>
    <div class="input-group-btn">
      <%= f.submit 'Enter', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
