<% @next_movie = Movie.new %>
<%= form_for @next_movie, html: {class: "navbar-form navbar-left"} do |f| %>
  <div class="form-group">
    <%= f.text_field :url, class: 'form-control', placeholder: 'YouTube動画のURL' %>
  </div>
  <%= f.submit '動画へ移動', class: 'btn btn-primary'%>
<% end %>
