<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("swfobject", "2.2");</script>

<script src="https://raw.github.com/davatron5000/Lettering.js/master/jquery.lettering.js"></script>
<script src="https://raw.github.com/jschr/textillate/master/jquery.textillate.js"></script>

<div id="ytapiplayer">
  You need Flash player 8+ and JavaScript enabled to view this video.
</div>

<%= render @comments %>

<%= render 'comments/form' %>

<a href="javascript:alertPassedTime();">Time</a>
