<div id="myytplayer"></div>

<div id="comments">
  <%= render @comments %>
</div>
<div id="comments-form">
  <%= render 'comments/form' %>
</div>

<br>

<p id="ytmovie-link">
  このページは
  <%= link_to 'このYouTube動画',
      'http://www.youtube.com/watch?v=' + params[:url],
      target: '_brank' %>
  にコメントアニメーションをのせています
</p>
<p id="attention">
  ※現在は、Google Chromeでのみ視聴が可能となっています。
</p>
<p id="movie-link">
  別のYouTubeの動画にコメントアニメーションをつける場合は、空欄に動画のURLを入力して下さい
<%= render 'form' %>
</p>
