<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("swfobject", "2.2");</script>

<div id="ytapiplayer">
  You need Flash player 8+ and JavaScript enabled to view this video.
</div>

<table>
  <%= render @comments %>
</table>

<%= render 'comments/form' %>
