<p id="movie-link" class="<%= flash[:class] %>">
  コメントアニメーションをつけたい
  <%= link_to 'YouTube動画', 'http://www.youtube.com/', target: '_brank' %>
  のURLを入力して下さい
</p>
<%= render 'movies/form' %>

<br>

<p id="demo">
<%= link_to 'デモページへ移動', {controller: 'movies', action: 'index', params: {url: 'xe9pvmZM1mA'}}, {class: 'btn btn-primary'} %>
</p>

