<p id="movie-link">
  コメントアニメーションをつけたい
  <%= link_to 'YouTube', 'http://www.youtube.com/', target: '_brank' %>
  動画のURLを入力して下さい
</p>
<%= render 'movies/form' %>
<p id="attention">
  ※現在は、Google Chromeでのみ視聴が可能となっています。
</p>
<p id="demo">
  <%= link_to 'デモページ', controller: 'movies', action: 'index', params: {url: 'mMfbvfgiTmo'} %>
</p>

